header {
  font-weight: bold;
  color: rgb(24, 16, 17);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./LOGO.jpg);
  background-position: center;
  margin: -33px;
  padding: 100px;
}
 nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: rgb(113, 114, 133);
  padding: 20px 18px;
  margin: 33px -10px;
  border-radius: 5px;
}
a {
  color: black;
  font-family: 'Scheherazade New', serif;
  font-size: 20px;
}
a:hover {
color: rgb(77, 72, 72);
}
a:active {
  font-weight: bold;
}
#holl {
    font-weight: bold;
    color: rgb(29, 27, 27);
    text-align: center;
    font-family: 'Qahiri', sans-serif;
    font-size: x-large;
    background-image: url(./hol.jpg);
    background-position: center;
    margin: -33px;
    padding: 40px;
}
#kitchen {
  font-weight: bold;
  color: rgb(36, 38, 39);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./kitch.jpg);
  background-position: center;
  margin: -33px;
  padding: 40px;
}
#lroom {
  font-weight: bold;
  color: rgb(46, 47, 48);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./quest.jpg);
  background-position: center ;
  margin: -33px;
  padding: 40px;
}
#children {
  font-weight: bold;
  color: rgb(48, 51, 53);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./children.png);
  background-position: center;
  margin: -33px;
  padding: 40px;
}
#bed {
  font-weight: bold;
  color: rgb(39, 40, 41);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./bed.jpg);
  background-position: center;
  margin: -33px;
  padding: 40px;
}
#bath {
  font-weight: bold;
  color: rgb(36, 39, 41);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./bath.jpg);
  background-position: center;
  margin: -33px;
  padding: 40px;
}
#cab {
  font-weight: bold;
  color: rgb(44, 46, 48);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./cab.jpg);
  background-position: center;
  margin: -33px;
  padding: 40px;
}

#out {
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-size: x-large;
  background-image: url(./вмщк.jpg);
  background-position: center;
  margin: -33px;
  padding: 40px;
}
footer {
  color: black;
  background-color: cadetblue;
  font-weight: bold;
  text-align: right;
  padding: 50px;
  background-image: url(./foot.jpg);
}
